In [34]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
import numpy as np
import pandas as pd
import csv

In [35]:
news_data=pd.read_csv(r"//content//drive//MyDrive//News dump.csv")

In [36]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [37]:
print(news_data.shape)

(854, 2)

In [38]:
print (list(news_data.columns))

['Category', 'Text']

In [39]:
news_data.describe()

       Category                                               Text
count       854                                                854
unique        3                                                842
top       sport  mps issued with blackberry threat mps will be ...
freq        346                                                  2

In [40]:
categories = []
doc_title = []
tmp1 = ""
tmp2 = ""
with open(r"//content//drive//MyDrive//News dump.csv") as csvfobj: #csvfobj=object
    readCSV= csv.reader(csvfobj, delimiter=',') #as each field is separated by ','
    #if file is not in the same project, add file path
    #Reader object creates matrix
    title = []
    #to iterate through file row by row
    for row in readCSV:
        category = row[0]
        title = row[1]
        
        #adding to the list
        tmp1 += category + " "
        categories.append(tmp1)
        tmp1 = ""
        
        tmp2 += title + " "
        doc_title.append(tmp2)
        tmp2 = ""

In [41]:
print (categories)
print(doc_title)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [42]:
tfidfvect = TfidfVectorizer(stop_words='english')
X = tfidfvect.fit_transform(doc_title)

first_vector = X[0]
 
dataframe = pd.DataFrame(first_vector.T.todense(), index = tfidfvect.get_feature_names(), columns = ["tfidf"])
dataframe.sort_values(by = ["tfidf"],ascending=False)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

            tfidf
text          1.0
00            0.0
peril         0.0
permanente    0.0
permanent     0.0
...           ...
equivalent    0.0
equity        0.0
equipped      0.0
equipment     0.0
μm            0.0

[20964 rows x 1 columns]

In [43]:
num = 3
kmeans = KMeans(n_clusters = num, init = 'k-means++', max_iter = 500, n_init = 1)
kmeans.fit(X)
print(kmeans.cluster_centers_)

[[5.59747132e-04 1.08462094e-02 9.50763119e-05 ... 4.56060154e-04
  2.42547943e-05 1.04196535e-04]
 [3.14303282e-04 1.44561902e-02 0.00000000e+00 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [0.00000000e+00 8.95823332e-03 0.00000000e+00 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]]

In [44]:
print(kmeans.labels_)

[0 1 0 1 0 0 0 0 0 0 0 0 2 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 1 0 0 0 0 0 1 1 0
 0 1 0 0 1 1 0 1 0 2 1 0 1 0 0 0 0 2 0 1 0 0 1 0 0 0 0 0 0 1 1 1 0 1 0 1 0
 0 0 0 0 0 0 2 0 1 0 1 0 0 0 0 0 2 0 0 0 2 0 1 1 0 0 0 0 1 0 0 0 0 0 0 0 1
 0 2 0 0 0 1 0 1 0 0 1 0 0 0 0 1 1 0 0 0 0 0 1 0 0 1 1 0 0 0 0 1 1 0 1 0 0
 0 0 2 0 1 0 1 1 1 0 0 0 0 0 1 0 0 0 1 0 0 1 0 0 0 0 1 0 0 1 1 0 0 1 0 0 0
 0 0 0 0 0 0 1 1 0 0 1 0 0 0 1 0 1 1 0 0 0 1 0 1 0 0 0 0 0 0 0 1 1 0 0 1 0
 0 0 1 1 0 1 0 0 1 2 1 1 1 2 0 0 0 0 0 1 0 0 0 1 1 2 0 1 0 1 0 0 0 1 1 0 0
 0 1 0 0 0 1 0 0 1 0 0 0 2 0 2 1 0 1 2 1 0 0 0 1 0 0 0 0 0 0 2 0 0 0 2 0 1
 0 0 0 0 1 0 1 0 2 1 0 1 0 1 0 0 2 0 0 0 0 0 0 0 0 1 0 2 0 1 1 0 1 0 0 0 0
 1 0 0 0 2 0 0 1 1 1 2 0 0 1 1 0 0 1 0 0 0 2 0 2 0 1 0 0 0 0 0 1 0 0 0 1 1
 0 0 1 0 1 0 2 1 2 0 1 0 0 2 0 0 0 1 0 2 0 1 1 0 0 1 1 0 1 0 1 1 0 0 1 0 0
 1 0 1 0 0 1 1 0 0 0 0 0 0 0 1 1 1 1 0 0 0 0 0 1 0 1 0 0 1 1 0 1 0 1 1 1 0
 1 1 1 0 0 0 0 0 0 0 1 1 1 0 0 2 1 0 0 0 0 0 2 1 2 0 0 0 1 0 0 0 0 0 0 1 0
 0 2 0 0 0 0 0 1 1 1 0 0 0 2 0 0 0 0 1 1 0 0 0 0 0 1 0 1 1 0 1 2 0 1 0 0 0
 0 0 1 0 0 0 1 0 0 1 0 0 2 2 0 1 0 0 0 1 0 0 2 0 0 0 1 0 1 0 1 1 0 0 0 1 1
 0 0 0 1 0 0 1 0 0 0 0 0 0 1 0 2 0 0 1 0 1 0 1 1 0 0 2 0 0 0 2 1 0 1 1 0 1
 1 0 0 1 1 0 1 1 0 0 1 0 0 1 0 1 0 1 1 1 1 0 0 0 2 0 1 1 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0]

In [45]:
X = tfidfvect.transform(["Rishi Sunak says he backs the return of grammar schools"])
predicted = kmeans.predict(X)
print(predicted)

[0]